body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  padding: 3rem;
  height: calc(100vh - 6rem);
  color: black;
  scroll-snap-align: start;
}


p {
  font-size: 1.2rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

a{
  color: #f47c48;
}

/*
HomePage
*/

#homepage {
  background: #FEF3EE;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
}

.thicc_font {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: .1rem;
  display: inline-block;
}

#profile_pic {
  width: 5rem;
}

#homepage ul li {
  padding-top: .3rem;
  padding-bottom: .3rem;
}


#blog_link {
  text-decoration: none;
  color: white;
  padding: .5rem;
  background-color: #f47c48;
}




/*cert gallery section*/

#cert_gallery {
  overflow: hidden;
  display: block;
}


#cert_gallery figure {
  position: relative;
  margin: 0;
  left: 0;
  width: 500%;
  -webkit-animation: 15s cert_gallery infinite;
  animation: 15s cert_gallery infinite;
}

#cert_gallery figure img {
  width: 20%;
  float: left;
}


@keyframes cert_gallery {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  33% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  66% {
    left: -200%;
  }

  75% {
    left: -200%;
  }

  100% {
    left: -300%;
  }
}



/*
project gallery
*/

.page_name {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

#grid_one,
#grid_two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
}

.project_image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.project_title {
  margin-top: 0;
  color: #f47c48;
}


.project_gallery ul li {
  padding-top: .2rem;
  padding-bottom: .2rem;
}

.project_gallery a,
strong {
  color: #f47c48;
}

#trick2g_info,
#slowpacedcoding_info,
#bootstrap_page_info,
#portfolio_info {
  padding: .5rem .5rem;
  background: #FEF3EE;
}

.desc_for_mobile{
  display: none;
}


#bootstrap_project{
  background-image: url(./img/bootstrap_4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


#contact_me {
  background: #FEF3EE;
}


.contact_list{
  font-size: 1.5rem;
}
















/*
media queries
*/

/*970px*/

@media screen and (max-width:970px) {

  #intro,
  #cert_gallery,
  .grid_item {
    grid-column: 1/-1;
    position: relative;
  }

  .grid_item:hover .desc_for_mobile{
    transition: 1s;
    bottom: 0px;
  }

  #trick2g_info,
  #slowpacedcoding_info,
  #bootstrap_page_info,
  #portfolio_info {
    display: none;
  }

  section {
    padding: 3rem;
    height: calc(100vh-6rem);

    display: grid;
    place-items: center;
  }

  .page_name {
    font-size: 3rem;
    font-weight: 700;
  }

}



/*600px*/

@media screen and (max-width:600px){
  body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;

    /*change these two back to default*/
    /* scroll-snap-type: none; */
    /* overflow-y: auto; */
  }
  
  section {
    padding: 2rem;
    height: calc(100vh - 4rem);
    color: black;
    scroll-snap-align: none;
  }

  p{
    font-size: 1rem;
  }


  .thicc_font {
    font-weight: 900;
    font-size: 2rem;
    display: inline-block;
  }

  #blog_link {
    padding: .2rem;
    margin: .2rem .2rem;
  }

  .page_name{
    /* font-size: 2rem; */
    /* margin-bottom: 2rem; */
    display: none;
  }

  #cert_gallery{
    display: none;
  }

  .project_image{
    width: 80%;
    margin: 0 auto;
  }

  #intro_ul{
    display: none;
  }

  #blog_link{
    display: block;
    text-align: center;
  }
}

