body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

section {
  padding: 3rem;
  color: black;
}


p {
  font-size: 1.2rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

a{
  color: #f47c48;
}

/*
HomePage
*/

#homepage {
  background: #FEF3EE;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-items: center;
}

.thicc_font {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: .1rem;
  display: inline-block;
}

#profile_pic {
  width: 5rem;
}

#homepage ul li {
  padding-top: .3rem;
  padding-bottom: .3rem;
}


#blog_link {
  text-decoration: none;
  color: white;
  padding: .5rem;
  background-color: #f47c48;
}




/*cert gallery section*/

#cert_gallery {
  overflow: hidden;
  display: block;
}


#cert_gallery figure {
  position: relative;
  margin: 0;
  left: 0;
  width: 500%;
  animation: 15s cert_gallery infinite;
}

#cert_gallery figure img {
  width: 20%;
  float: left;
}


@keyframes cert_gallery {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  33% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  66% {
    left: -200%;
  }

  75% {
    left: -200%;
  }

  100% {
    left: -300%;
  }
}



/*
project gallery
*/

.page_name {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

#project_showcase_area{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
  grid-gap: 2rem;
}

.project_snapshot{
  width: 100%;
}

.project_title {
  margin-top: 0;
  color: #f47c48;
}


.project_gallery ul li {
  padding-top: .2rem;
  padding-bottom: .2rem;
}

.project_gallery a,
strong {
  color: #f47c48;
}

#trick2g_info,
#slowpacedcoding_info,
#bootstrap_page_info,
#portfolio_info {
  padding: .5rem .5rem;
  background: #FEF3EE;
}

.desc_for_mobile{
  display: none;
}


#bootstrap_project{
  background-image: url(./img/bootstrap_4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


#contact_me {
  background: #FEF3EE;
}


.contact_list{
  font-size: 1.5rem;
}














